<!DOCTYPE html>
<html lang="es">
  <%- include('../partials/head') %> 
<body>
  <%- include('../partials/header') %> 
  <section class="overflow">
    <form class="formCreate" action="/user/editProfile/<%=userEdit.id%>" method="GET" enctype="multipart/form-data">
        <div class="formItem">
        <h2>Edicion de Profile</h2>
        </div>    
        
        <div class="formItem">
            <label>Nombre y apellido:</label>
            <input class="productName" type= "text" name='fullName' value="<%=userEdit.fullName%>">
            <% if (locals.errors && errors.fullname) { %>
                <div class="danger">
                    <%= errors.fullname.msg %>
                </div>
            <% } %>
        </div>
        <div class="formItem">
            <label>Nombre de usuario:</label>
            <input class="description" type= "text" name='user' value="<%=userEdit.user%>">
            <% if (locals.errors && errors.usuario) { %>
                <div class="danger">
                    <%= errors.usuario.msg %>
                </div>
            <% } %>
        </div>
        <div class="formItem">
            <label>Email:</label>
            <input class="cantidad" type="email" name='eMail' value="<%=userEdit.eMail%>">
            <% if (locals.errors && errors.email) { %>
                <div class="danger">
                    <%= errors.email.msg %>
                </div>
            <% } %>
        </div>
        <div class="formItem">
            <label>Contraseña:</label>
            <input type="password" name="clave" value="<%=userEdit.clave%>">
            <% if (locals.errors && errors.clave) { %>
                <div class="danger">
                    <%= errors.clave.msg %>
                </div>
            <% } %>
        </div>
        <div class="formItem">
            <label>Avatar</label>
            <input type="file" name="avatarImage" multiple>
            <% if (locals.errors && errors.avatarImage) { %>
                <div class="danger">
                    <%= errors.avatarImage.msg %>
                </div>
            <% } %>
        </div>
        <div class="formItem">
            <label>Fecha de nacimiento:</label>
            <input type="date" name="fecha" value="<%=userEdit.fecha%>">
            <% if (locals.errors && errors.fecha) { %>
                <div class="danger">
                    <%= errors.fecha.msg %>
                </div>
            <% } %>
        </div>
        <div class="formItem">
            <label>Elige un país</label>
            <select name="paises" class="formSelect">
                <option value="paises">Elige un país</option>
                <% 
                    let countries = ['Argentina','Bolivia','Brasil','Colombia','Chile','Ecuador','Paraguay','Peru','Uruguay','Venezuela']
                 %> 
                <% for( const oneCountry of countries ) { %>
                    <option 
                        value="<%=userEdit.paises%>"
                        
                        ><%= oneCountry %> </option>
                <% } %>
                
            </select>
            <% if (locals.errors && errors.paises) { %>
                <div class="danger">
                    <%= errors.paises.msg %>
                </div>
            <% } %>
        </div>

        <div class="formItem">
            <label>Direccion:</label>
            <input class="address" type= "text" name='address' value="<%=userEdit.address%>">
            <% if (locals.errors && errors.address) { %>
                <div class="danger">
                    <%= errors.address.msg %>
                </div>
            <% } %>
        </div>

        <div class="formItem">
            <label>Genero:</label>
            <input type="radio" name="genero" value="mujer"> Mujer
            <input type="radio" name="genero" value="hombre"> Hombre
            <input type="radio" name="genero" value="niño"> Niño
                    
        </div>
        <div class="btns">
            <button class="editButton" type="submit" value="editar" name='editar'>Editar</button>
            <button class="botonDelete" type="reset" value="borrar" name='borrar'>Borrar</button>
            
        </div>
           
    </form>
  </section>
  <%- include('../partials/footer') %> 
  <script src="https://kit.fontawesome.com/21b565b396.js" crossorigin="anonymous"></script>
</body>
</html>