<!DOCTYPE html>
<html lang="es">
  <%- include('../partials/head') %> 
<body>
  <%- include('../partials/header') %>  
  
        <div class="profileUsers">
            
         <Section class = "overflow">   
            <div class="formItem" >
                 <h2>Hi <%= users.fullName %> </h2>
                  <img src="/images/user/upload/<%= users.avatarImage %> ">
                  <div class="formItem"><%= users.email %> </div>
                </div>
                <form action="/user/logout" method="post">
                  <button class="submit">Cerrar sesion</button>
                </form>
              </div>
            </div>
        </Section>   


        </div>
    </form>
  <%- include('../partials/footer') %> 
  <script src="https://kit.fontawesome.com/21b565b396.js" crossorigin="anonymous"></script>   
</body>
</html>
