<!DOCTYPE html>
<html lang="es">
  <%- include('../partials/head') %> 
  <body>
    <%- include('../partials/header') %>  
    
        <section class="containerProfile">
          <article class= "profile">
          
                <div class="formItem">
                  <h2> Hi <%= locals.users.fullName %> </h2>
                  <div class= "containerUserImg">  
                  <img src="/users/<%= users.image %>" width="200px" height="200px" >
                </div>
                    <p> <%= locals.users.eMail %></p>
                </div>

                <form action="/user/logout" method="post">
                    <button class="btn">Cerrar Sesion</button>
                </form>
               <a href="/user/editProfile/<%= users.id %>" class="btn">Editar</a>
            </article> 
        </section>
   
        <%- include('../partials/footer') %> 
        <script src="https://kit.fontawesome.com/21b565b396.js" crossorigin="anonymous"></script>   
  </body>
</html>