<!DOCTYPE html>
<html lang="es">
  <%- include('../partials/head') %> 
<body>
  <%- include('../partials/header') %> 
  <section class="overflow">
    <form class="formCreate" action="/user/register" method="POST" enctype="multipart/form-data">
        <div class="formItem">
            <label>Nombre y apellido:</label>
            <input class="productName" type= "text" name='fullName' value="<%=locals.oldDate ? oldDate.fullName : null%>" autofocus>
            <% if (locals.errors && errors.fullName) { %>
                <div class="danger">
                    <%= errors.fullName.msg %>
                </div>
            <% } %>
        </div>
        <div class="formItem">
            <label>Nombre de usuario:</label>
            <input class="description" type= "text" name='user' value="<%=locals.oldDate ? oldDate.user : null%>">
            <% if (locals.errors && errors.user) { %>
                <div class="danger">
                    <%= errors.user.msg %>
                </div>
            <% } %>
        </div>
        <div class="formItem">
            <label>Email:</label>
            <input class="cantidad" type="email" name='eMail' value="<%=locals.oldDate ? oldDate.eMail : null%>">
            <% if (locals.errors && errors.eMail) { %>
                <div class="danger">
                    <%= errors.eMail.msg %>
                </div>
            <% } %>
        </div>
        <div class="formItem">
            <label>Contraseña:</label>
            <input type="password" name="password" value="<%=locals.oldDate ? oldDate.password : null%>">
            <% if (locals.errors && errors.password) { %>
                <div class="danger">
                    <%= errors.password.msg %>
                </div>
            <% } %>
        </div>
        <div class="formItem">
            <label>Avatar</label>
            <input type="file" name="avatarImage" multiple>
            <% if (locals.errors && errors.avatarImage) { %>
                <div class="danger">
                    <%= errors.avatarImage.msg %>
                </div>
            <% } %>
        </div>
        <div class="formItem">
            <label>Fecha de nacimiento:</label>
            <input type="date" name="dateBirth" value="<%=locals.oldDate ? oldDate.dateBirth : null%>">
            <% if (locals.errors && errors.dateBirth) { %>
                <div class="danger">
                    <%= errors.dateBirth.msg %>
                </div>
            <% } %>
        </div>
        <div class="formItem">
            <label>Elige un país</label>
            <select name="country" class="formSelect">
                <option value="">Elige un país</option>
                <% 
                    let countries = ['Argentina','Bolivia','Brasil','Colombia','Chile','Ecuador','Paraguay','Peru','Uruguay','Venezuela']
                 %> 
                <% for( const oneCountry of countries ) { %>
                    <option 
                        value="<%= oneCountry %>"
                        <%= locals.oldDate && oneCountry === oldDate.country ? 'selected' : null %> 
                        ><%= oneCountry %> </option>
                <% } %>
                
            </select>
            <% if (locals.errors && errors.country) { %>
                <div class="danger">
                    <%= errors.country.msg %>
                </div>
            <% } %>
        </div>

        <div class="formItem">
            <label>Direccion:</label>
            <input class="address" type= "text" name='address' value="<%=locals.oldDate ? oldDate.address : null%>">
            <% if (locals.errors && errors.address) { %>
                <div class="danger">
                    <%= errors.address.msg %>
                </div>
            <% } %>
        </div>

        <div class="formItem">
            <label>Genero:</label>
            <input type="radio" name="genre" value="mujer"> Mujer
            <input type="radio" name="genre" value="hombre"> Hombre
            <input type="radio" name="genre" value="niño"> Niño
                    
        </div>
        <div class="btns">
            <button class="editButton" type="submit" value="crear" name='crear'>Crear</button>
            <button class="botonDelete" type="reset" value="borrar" name='borrar'>Borrar</button>
            
        </div>
    </form>
  </section>
  <%- include('../partials/footer') %> 
  <script src="https://kit.fontawesome.com/21b565b396.js" crossorigin="anonymous"></script>
</body>
</html>