<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head') %> 
<body>
    <%- include('../partials/header') %>
    <section class="overflow">
        <form class="formCreate" action="/products/createProduct" method="POST" enctype="multipart/form-data">
            <div class="formItem">
                <label>Modelo</label>
                <input class="createProduct" type= "text" name='model' autofocus>
                <p></p>
            </div>
            <div class="formItem">
                <label>Descripción</label>
                <input class="createProduct" type= "text" name='description'>
                <p></p>
            </div>
            <div class="formItem">
                <label>Cantidad</label>
                <input class="createProduct" type="number" name='quantity'>
                <p></p>
            </div>
            <div class="formItem">
                <label>Imagen</label>
                <input class='createProduct' type="file" name="image" id="image" multiple >
                <p></p>
            </div>
            <div class="formItem">
                <label>Género</label>
                <select class="createProduct" name="genres" id="categoria" style="appearance:menulist-button;">
                    <option value="">Selecciona tu género</option>
                    <% genres.forEach(oneGenre => { %>
                        <option value=<%= oneGenre.id %>><%= oneGenre.name %> </option>
                    <% }) %>
                </select>
                <p></p>
            </div>
            <div class="formItem">
                <label>Colores</label>
                <select class="createProduct" name="colors" id="colores" style="appearance:menulist-button;">
                    <option value=''>Selecciona el color</option>
                    <% colors.forEach(oneColor => { %>
                        <option value=<%= oneColor.id %>><%= oneColor.name %> </option>
                    <% }) %>
                </select>
                <p></p>
            </div>
            <div class="formItem">
                <label>Talla</label>
                <select class="createProduct" name="sizes" id="tall" style="appearance:menulist-button;">
                    <option value=''>Selecciona la talla</option>
                    <% sizes.forEach(oneSize => { %>
                        <option value=<%= oneSize.id %>><%= oneSize.name %> </option>
                    <% }) %>
                </select>
                <p></p>
            </div>
            <div class="formItem">
                <label>Precio</label>
                <input class="createProduct" type="text" name='price'> $
                <p></p>
                
            </div>
            
            <div class="formItem">
                <label>Descuento</label>
                <input class="createProduct" type="text" name='discount'> $
                
            </div>
            <div class="btns">
                <button class="btn" type="submit" >Crear</button>
                <button class="btn" type="reset" >Borrar</button>
            </div>
        </form>
    </section>
                           
                        
    <%- include('../partials/footer') %> 
    <script src="https://kit.fontawesome.com/21b565b396.js" crossorigin="anonymous"></script>
    <script src="/products/validationCreate.js"></script>
</body>
</html>