<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head') %> 
<body>
    <%- include('../partials/header') %>
    <section class="overflow">
        <form class="formCreate" action="/products/createProduct" method="POST" enctype="multipart/form-data">
            <div class="formItem">
                <label>Modelo </label>
                <input class="productName" type= "text" name='model'>
            </div>
            <div class="formItem">
                <label>Descripción</label>
                <input class="description" type= "text" name='description'>
            </div>
            <div class="formItem">
                <label>Cantidad</label>
                <input class="cantidad" type="number" name='quantity'>
            </div>
            <div class="formItem">
                <label>Imagen</label>
                <input type="file" name="image" multiple>
            </div>
            <div class="formItem">
                <label>Género</label>
                <select class="category" name="genres" id="categoria" style="appearance:menulist-button;">
                    <option value="-">-</option>
                    <% genres.forEach(oneGenre => { %>
                        <option value=<%= oneGenre.id %>><%= oneGenre.name %> </option>
                    <% }) %>
                </select>
            </div>
            <div class="formItem">
                <label>Colores</label>
                <select class="colors" name="colors" id="colores" style="appearance:menulist-button;">
                    <option value=''>Selecciona el color:</option>
                    <% colors.forEach(oneColor => { %>
                        <option value=<%= oneColor.id %>><%= oneColor.name %> </option>
                    <% }) %>
                </select>
            </div>
            <div class="formItem">
                <label>Talla</label>
                <select class="cantButton" name="sizes" id="tall" style="appearance:menulist-button;">
                    <option value=''>Selecciona la talla:</option>
                    <% sizes.forEach(oneSize => { %>
                        <option value=<%= oneSize.id %>><%= oneSize.name %> </option>
                    <% }) %>
                </select>
            </div>
            <div class="formItem">
                <label>Precio</label>
                <input class="price" type="text" name='price'> $
                <br>
            </div>
            <div class="formItem">
                <label>Descuento</label>
                <input class="price" type="text" name='discount'> $
                <br>
            </div>
            <div class="btns">
                <button class="btn" type="submit" >Crear</button>
                <button class="btn" type="reset" >Borrar</button>
            </div>
        </form>
    </section>
                           
                        
    <%- include('../partials/footer') %> 
    <script src="https://kit.fontawesome.com/21b565b396.js" crossorigin="anonymous"></script>
</body>
</html>