<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head') %> 
<body>
    <%- include('../partials/header') %>
    <section class="overflow">
        <form class="formEdit" action="/products/edit/<%= productEdit.id %>?_method=put" method="POST" enctype="multipart/form-data">
            <div class="formItem">
                <h2>Deseas modificar el producto: </h2>
                <label>Modelo</label>
                <input class="productEdit" id="Modelo" type= "text" name='model' value="<%= productEdit.model %>" autofocus>
                <% if (locals.errors && errors.model) { %>
                    <p class="danger">
                        <%= errors.model.msg %>
                    </p>
                <% } else { %>
                    <p></p>
                <% } %>
                <span></span>
            </div>
            <div class="formItem">
                <label>Descripción</label>
                <input class="productEdit" id="Descripcion" type= "text" name='description' value="<%= productEdit.description %>">
                <% if(locals.errors && errors.description) { %>
                    <p class="danger">
                        <%= errors.description.msg %>
                    </p>
                <% } else { %>
                    <p></p>
                <% } %>
                <span></span>
            </div>
            <div class="formItem">
                <label>Cantidad</label>
                <input class="productEdit" id="Cantidad" type="number" name='quantity' value="<%= productEdit.quantity %>">
                <% if(locals.errors && errors.quantity) { %>
                    <p class="danger">
                        <%= errors.quantity.msg %>
                    </p>
                <% } else { %>
                    <p></p>
                <% } %>
                <span></span>
            </div>
            <div class="formItem">
                <label>Imagen</label>
                <input class ="productEdit" type="file" name="image" multiple id="image" >
                <% if(locals.errors && errors.image) { %>
                    <p class="danger">
                        <%= errors.image.msg %>
                    </p>
                <% } else { %>
                    <p></p>
                <% } %>
                <span></span>
            </div>
            <div class='containerImg'>
                <img src="/uploads/<%= productEdit.image %>" alt="" width="200px" height="200px">
                <span></span>
            </div>
            <div class="formItem">
                <label>Genero</label>
                <select class="productEdit" name="genres" id="categoria" style="appearance:menulist-button;">
                    <option value="">Selecciona el genero</option>
                    <% genres.forEach(onGenre=> { %>
                        <option value="<%= onGenre.id %>">
                        <%= onGenre.name %>
                        </option>
                    <% }) %>
                </select>
                <% if(locals.errors && errors.genres) { %>
                    <p class="danger">
                        <%= errors.genres.msg %>
                    </p>
                <% } else { %>
                    <p></p>
                <% } %>
                <span></span>
            </div>
            <div class="formItem">
                <label>Colores</label>
                <select class="productEdit" name="colors" id="colores" style="appearance:menulist-button;" >
                    <option value="">Selecciona el color</option>
                    <% colors.forEach(onColor=> { %>
                        <option value="<%= onColor.id %>">
                        <%= onColor.name %>
                        </option>
                    <% }) %>
                </select>
                <% if(locals.errors && errors.colors) { %>
                    <p class="danger">
                        <%= errors.colors.msg %>
                    </p>
                <% } else { %>
                    <p></p>
                <% } %>
                <span></span>
            </div>
            <div class="formItem">
                <label>Talla</label>
                <select class="productEdit" name="sizes" id="Talle" style="appearance:menulist-button;">
                    <option value="">Selecciona la talla</option>
                    <% sizes.forEach(onSize=> { %>
                        <option value="<%= onSize.id %>">
                        <%= onSize.name %>
                        </option>
                    <% }) %>
                </select>
                <% if(locals.errors && errors.sizes) { %>
                    <p class="danger">
                        <%= errors.sizes.msg %>
                    </p>
                <% } else { %>
                    <p></p>
                <% } %>
                <span></span>
            </div>
            <div class="formItem">
                <label>Precio</label>
                <input class="productEdit" id="Precio" type="text" name='price' value="<%= productEdit.price %>"> $
                <% if(locals.errors && errors.price) { %>
                    <p class="danger">
                        <%= errors.price.msg %>
                    </p>
                <% } else { %>
                    <p></p>
                <% } %>
                <span></span>
                <br>
            </div>
            <div class="formItem">
                <label>Descuento</label>
                <input class="productEdit" type="text" name='discount' value="<%= productEdit.discount %>"> $
                <br>
            </div>
            <div class='btns'>
                <button class="btn" type="submit" value="crear">Guardar</button>
            </div>
        </form>
    </section>
                        
    <%- include('../partials/footer') %> 
    <script src="https://kit.fontawesome.com/21b565b396.js" crossorigin="anonymous"></script>
    <script src="/products/validationEdit.js" type="text/javaScript"></script>
</body>
</html>