<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head') %> 
<body>
    <%- include('../partials/header') %>
    <section class="overflow">
        <form class="formEdit" action="/products/edit/<%= productEdit.id %>?_method=put" method="POST" enctype="multipart/form-data">
            <div class="formItem">
                <label>Nombre</label>
                <input class="productName" type= "text" name='model' value="<%= productEdit.model %>">
                <div class="productsEditArrayErrors errors">
                    <ul></ul>
                </div>
            </div>
            <div class="formItem">
                <label>Descripción</label>
                <input class="description" type= "text" name='description' value="<%= productEdit.description %>">
            </div>
            <div class="formItem">
                <label>Cantidad</label>
                <input class="cantidad" type="number" name='quantity' value="<%= productEdit.quantity %>">
            </div>
            <div class="formItem">
                <label>Imagen</label>
                <input type="file" name="image" multiple >
            </div>
            <div class='containerImg'>
                <img src="/uploads/<%= productEdit.image %>" alt="" width="200px" height="200px">
            </div>
            
            <div class="formItem">
                <label>Genero</label>
                <select class="category" name="genres" id="categoria" style="appearance:menulist-button;">
                    <option value="">Selecciona el genero</option>
                    <% genres.forEach(onGenre=> { %>
                        <option value="<%= onGenre.id %>">
                        <%= onGenre.name %>
                        </option>
                    <% }) %>
                </select>
            </div>
            <div class="formItem">
                <label>Colores</label>
                <select class="colors" name="colors" id="colores" style="appearance:menulist-button;" >
                    <option value="">Selecciona el color</option>
                    <% colors.forEach(onColor=> { %>
                        <option value="<%= onColor.id %>">
                        <%= onColor.name %>
                        </option>
                    <% }) %>
                </select>
            </div>
            <div class="formItem">
                <label>Talla</label>
                <select class="cantButton" name="sizes" id="tall" style="appearance:menulist-button;">
                    <option value="">Selecciona la talla</option>
                    <% sizes.forEach(onSize=> { %>
                        <option value="<%= onSize.id %>">
                        <%= onSize.name %>
                        </option>
                    <% }) %>
                </select>
            </div>
            <div class="formItem">
                <label>Precio</label>
                <input class="price" type="text" name='price' value="<%= productEdit.price %>"> $
                <br>
            </div>
            <div class="formItem">
                <label>Precio</label>
                <input class="price" type="text" name='discount' value="<%= productEdit.discount %>"> $
                <br>
            </div>
            <div class='btns'>
                <button class="btn" type="submit" value="crear">Guardar</button>
            </div>
        </form>
    </section>
                        
    <%- include('../partials/footer') %> 
    <script src="https://kit.fontawesome.com/21b565b396.js" crossorigin="anonymous"></script>
    <script src="/public/products/validationModif.js"></script>
</body>
</html>