<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head') %> 
<body>
  <%- include('../partials/header') %>
    <section class="containerProdcuto"> 
      <%products.forEach(element => { %>
        <article class="producto">
          <h2><%= `Producto: ${element.model}` %> </h2>
          <p><%= `Descripcion: ${element.description} ` %></p>
          <p><%= `Cantidad: ${element.quantity} ` %>Uni</p>
          <p><%= `talla: ${element.sizes.name}`%></p>
          <p><%= `genero: ${element.genres.name}`%></p>
          <p><%= `color: ${element.colors.name}`%></p>
          <p><%= `Precio: ${element.price} ` %>$</p>
          <p><%= `Descuento: ${element.discount} ` %>$</p>
          <div class='containerImg'>
            <img src="/uploads/<%= element.image %>" alt="" width="200px" height="200px">
          </div>
          <a class="btn" href="/products/productDetail/<%= element.id %>">Detalle</a>  
        </article>
      <% }); %>
  </section>
  <%- include('../partials/footer') %> 
      <script src="https://kit.fontawesome.com/21b565b396.js" crossorigin="anonymous"></script>
</body>
</html>