<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head') %> 
<body>
  <%- include('../partials/header') %> 
    <main>
        <section class="containerProdcuto"> 
            <article class="producto">
              <h2><%= `Producto: ${product.model}` %> </h2>
              <p><%= `Descripcion: ${product.description} ` %></p>
              <% if (product.sizes.length > 0) { %>
                <% product.sizes.forEach(size => { %>
                  <p><%= `Talla: ${size.name}`%></p>
                <% }) %>
              <% } %>
              <% if (product.genres.length > 0) { %>
                <% product.genres.forEach(genre => { %>
                  <p><%= `Genero: ${genre.name}`%></p>
                <% }) %>
              <% } %>
              <% if (product.colors.length > 0) { %>
                <% product.colors.forEach(color => { %>
                  <p><%= `Color: ${color.name}`%></p>
                <% }) %>
              <% } %>
              <p><%= `Cantidad: ${product.quantity} ` %></p>
              <p><%= `Precio: ${product.price} $ ` %></p>
              <p><%= `Descuento: ${product.discount} $ ` %></p>
              <div class='containerImg'>
                <img src="/uploads/<%= product.image %>" alt="" width="200px" height="200px">
              </div>
              <a href="#" class="btn">Agregar a carrito</a>
              <a href="/products/edit/<%= product.id %>" class="btn">Editar</a>  
              <form class="btnEliminar" action="/products/<%= product.id %>?_method=delete" method="POST">
                <button type="submit" class="btn">Eliminar</button>
              </form>
            </article>
      </section>

        
    </main>
  <%- include('../partials/footer') %> 
      <script src="https://kit.fontawesome.com/21b565b396.js" crossorigin="anonymous"></script>
</body>
</html>